body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#sendDataButton {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

#sendDataButton:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

#sendDataButton:active {
    background-color: #004080;
    transform: translateY(1px);
}